# Configurações do Banco de Dados (Docker)
MYSQLHOST=localhost
MYSQLPORT=3307
MYSQLUSER=user_horarios
MYSQLPASSWORD=user_password
MYSQLDATABASE=horarios_db

# Configurações do App
PORT=3000
NODE_ENV=development
