nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href="/") Gerador de Horários
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/") Home
        li.nav-item
          a.nav-link(href="/professores") Professores
        li.nav-item
          a.nav-link(href="/disciplinas") Disciplinas
        li.nav-item
          a.nav-link(href="/turmas") Turmas